@implements IDisposable
@rendermode InteractiveServer

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Retrograf</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <a>
                    Inicio
                </a>
            </NavLink>
        </div>
        @*Productos*@
        <div class="nav-item px-3">
            <div class="nav-link dropdown-toggle" style="color: black" @onclick="() => Ex1 = !Ex1">
                <a>
                    Producto
                </a>
            </div>
            @if (Ex1)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link expand-menu " href="/IndexProductos">
                        <a>
                            Inventario
                        </a>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link expand-menu " href="/CreateProducto">
                        <a>
                            Nuevo Producto
                        </a>
                    </NavLink>
                </div>
            }
        </div>


        @*Ventas*@
        <div class="nav-item px-3">
            <div class="nav-link dropdown-toggle" style="color: black" @onclick="() => Ex = !Ex">
                <a>
                    Ventas
                </a>
            </div>
            @if (Ex)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link expand-menu " href="/IndexVentas">
                        <a>
                            Listado Ventas
                        </a>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link expand-menu " href="/CreateVentas">
                        <a>
                            Nueva Venta
                        </a>
                    </NavLink>
                </div>
            }
        </div>

        @*Clientes*@
        <div class="nav-item px-3">
            <div class="nav-link dropdown-toggle" style="color: black" @onclick="() => Ex2 = !Ex2">
                <a>
                    Cliente
                </a>
            </div>
            @if (Ex2)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link expand-menu " href="/ClientesIndex">
                        <a>
                            Listado Cliente
                        </a>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link expand-menu " href="/CreateClientes">
                        <a>
                            Nuevo Cliente
                        </a>
                    </NavLink>
                </div>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/MenuCobrar">
                <a>
                    Cuentas por cobrar
                </a>
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="auth">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>



@code {
    private string? currentUrl;
    private bool Ex;
    private bool Ex1;
    private bool Ex2;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }


}

